/.vscode
/103_ACT1_B.docx.docx
/103_ACT2_B.docx
/103_ACT2_B.docx.docx
/6.1.2.1 Packet Tracer - Add Computers to an Existing Network (1).pka
/ABD
/AIKAzizah Aulia R Hamid_103_B.docx
/Assalamualaikum wr.docx
/azizah aulia r hamid.docx
/Azizah Aulia R Hamid_B_6.1.3.10_Lab.docx
/CiscoPacketTracer822_64bit_setup_signed.exe
/Custom Office Templates
/Database
/Definisi dan Konsep Green Data Center fisika 2.docx
/Desktop - Shortcut.lnk
/desktop.ini
/Green Data Center_4f65834e10340d66f4e24ea3a4952e38.pdf
/IMG_20240910_104452.jpg
/index.html
/interview ulang nata.docx
/jawaban pancasila uas.docx
/KATA PENGANTAR.docx
/KISI KISI PANCASILA.docx
/Lembar TTS.pdf
/MAKALAH AIK KELOMPOK 11_PRINSIP DAN FUNGSI AQIDAH.pdf
/Merancang Green Data Center.docx
/PPT AIK KELOMPOK 11 PRINSIP DAN FUNGSI AQIDAH.pdf
/PPT AIK KELOMPOK 11 PRINSIP DAN FUNGSI AQIDAH.pptx
/PPT AIK KELOMPOK 11 PRINSIP DAN FUNGSI AQIDAH.zip
/PPT AIK KELOMPOK 11 PRINSIP DAN FUNGSI AQIDAH_compressed (1).pdf
/Prak6_Azizah Aulia R Hamid20240140103.zip
/Praktikum11_103_B.zip
/PROBLEM baru untuk presentasi.docx
/Rekaman 1.docx
/REQUIREMENT GHATERING.docx
/Resume Module 1-14 Azizah Aulia R Hamid 2024014103.docx
/Resume_Module_1-14_Azizah_Aulia_R_Hamid_20240140103.docx
/Resume_Module_1-14_Azizah_Aulia_R_Hamid_20240140103.pdf
/SISTEM PENYEWAAN KOSTUM DAN PROPERTI.docx
/SQL Server Management Studio
/style.css
/UCP Fisika dan Elektronika Teknologi Informasi azizah aulia  hamid 20240140103.docx
/UCP Fisika dan Elektronika Teknologi Informasi azizah aulia  hamid 20240140103.pdf
/UCP Quistionnaire_B_Albert Einstein.docx
/UCP1 Praktikum_103.pkt
/UCP_4_-Requirement_Berners_Lee[1] (AutoRecovered).docx
/UCP_4_-Requirement_Berners_Lee[1].docx
/Visual Studio 2017
/Visual Studio 2022
/Zoom
/My Music
/My Pictures
/My Videos